BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN_HERE
WEATHER_API_KEY=YOUR_OPENWEATHERMAP_API_KEY_HERE
TOP_NUM_LINES=5
LOG_NUM_LINES=10
AUDIO_FOLDER=audio
AUDIO_CLEANUP_DAYS=30
DATABASE_PATH=map.db
CAMERA_IP=10.1.100.151
CAMERA_PORT=80
CAMERA_USER=onvif_login
CAMERA_PASSWORD=onvif_password
